.places__list-item {
  padding-bottom: 50px;
}

.places__list-item:last-of-type {
  padding-bottom: 0;
}

@media (min-width: 752px) {
  .places__list-item {
    padding-bottom: 73px;
  }
}

@media (min-width: 976px) {
  .places__list-item {
    padding-bottom: 80px;
  }
}
