.intro__title {
  padding: 0;
  margin: 0 0 40px 0;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
}

@media (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.07;
  }
}

@media (min-width: 960px) {
  .intro__title {
    max-width: 690px;
  }
}
